# Cloudflare account ID
name = "cloudflare-worker-template-prod"
compatibility_date = "2024-11-11"
compatibility_flags = ["nodejs_compat", "nodejs_als"]
pages_build_output_dir = ".vercel/output/static"

# D1 database binding 
[[d1_databases]]
binding = "DB"
database_name = "cloudflare-worker-template-prod"
database_id = "1a6a31cb-363f-4236-b404-093d22e5a7f5"
migrations_dir = "migrations"

# R2 bucket binding 
[[r2_buckets]]
binding = "BUCKET"
bucket_name = "cloudflare-worker-template-prod"

# KV namespace
[[kv_namespaces]]
binding = "KV"
id = "cd447ffea254484785e284dca28187f0"

# Environment variables
[vars]
ENVIRONMENT = "production"
ANALYTICS_SINK = "engine"
NEXTAUTH_SECRET = "sxd+YAAhj8N/bDNPFMKW7i92p+swQsqAtXsA3lk1CPc="
# Configure NEXTAUTH_SECRET via `wrangler secret put NEXTAUTH_SECRET` to avoid committing secrets

# Analytics Engine dataset binding
[[analytics_engine_datasets]]
binding = "ANALYTICS"
dataset = "prod_analytics_dataset"  # Use underscore instead of hyphen
