# Cloudflare account ID
name = "cloudflare-worker-template-test"
compatibility_date = "2024-11-11"
compatibility_flags = ["nodejs_compat", "nodejs_als"]
pages_build_output_dir = ".vercel/output/static"

# D1 database binding
[[d1_databases]]
binding = "DB"
database_name = "cloudflare-worker-template-test"
database_id = "332d2c65-34a8-4a41-bcc6-a31f59a1f3bd"
migrations_dir = "migrations"

# R2 bucket binding
[[r2_buckets]]
binding = "BUCKET"
bucket_name = "cloudflare-worker-template-test"

# KV namespace
[[kv_namespaces]]
binding = "KV"
id = "8ab7da3293644fb48cf4380d9b81638b"

# Environment variables
[vars]
ENVIRONMENT = "test"
ANALYTICS_SINK = "kv"
NEXTAUTH_SECRET = "sxd+YAAhj8N/bDNPFMKW7i92p+swQsqAtXsA3lk1CPc="
# Configure NEXTAUTH_SECRET via `wrangler secret put NEXTAUTH_SECRET` to keep secrets out of source control
